.home {
  padding: 40px 0;
  width: 900px;
}

.hero {
  text-align: center;
  margin-bottom: 60px;
  padding: 40px 20px;
  background: linear-gradient(135deg, var(--primary-color), #4a00e0);
  /* color: white; */
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 119, 204, 0.3);
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 40px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  text-align: center;
  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
  color: var(--primary-color);
  margin-bottom: 15px;
}